Repository 5kdn/DTT_PrismDryIoc, changes with the labels that .github/labeler.yml gives for each.
All labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests, CI / GitHub Actions, Docs, Localization, Assets / Images, Packaging / Installer, Code Style / Analyzer

feat: make treeview colorfully
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/FileChangeTypeToBrushConverter.cs
  DcsTranslateTool.Win/Converters/FileEntryToIconKindConverter.cs
  DcsTranslateTool.Win/Enums/FileChangeType.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/FilterViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Tests

feat: change icon decide algorithm
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win/Enums/ChangeTypeMode.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: ViewModel, Tests

feat: colorfull treeview (#51)
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/FileChangeTypeToBrushConverter.cs
  DcsTranslateTool.Win/Converters/FileEntryToIconKindConverter.cs
  DcsTranslateTool.Win/Enums/ChangeTypeMode.cs
  DcsTranslateTool.Win/Enums/FileChangeType.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/FilterViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Tests

feat: add file watcher service
  DcsTranslateTool.Core/Contracts/Services/IFileWatcherService.cs
  DcsTranslateTool.Core/Services/FileWatcherService.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic

refactor: ローカルファイルの読み込みをVMからFileWatcherServiceに移譲
  DcsTranslateTool.Core/Contracts/Services/IFileWatcherService.cs
  DcsTranslateTool.Core/Services/FileWatcherService.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic, Tests

refactor: FileEntryService に FileWatcherService を統合
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Contracts/Services/IFileWatcherService.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/FileWatcherService.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic, Tests

test: FileEntryServiceTests の修正
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
Labels: Tests

feat: enable realtime detect file change (#52)
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic, Tests

Update FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
Labels: Tests

style: add comment
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
Labels: Tests

fix: ファイルの変更検知時にエラーで落ちるのを修正
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/DcsTranslateTool.Tests.csproj
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Converters/IDispatcherService.cs
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/Services/DispatcherService.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/packages.lock.json
Labels: WPF / XAML, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests

test: ディレイの調整
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
Labels: Tests

test: ディレイの調整
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
Labels: Tests

refactor: GitBlobSha1Helper.Calculate を非同期化した
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Helpers/GitBlobSha1Helper.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Tests/Core/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
Labels: ViewModel, Model / Business Logic, Tests

fix: test
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
Labels: Model / Business Logic, Tests

fix: test
  DcsTranslateTool.Core/Helpers/GitBlobSha1Helper.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
Labels: Tests

fix: ファイルの変更検知時にエラーで落ちるのを修正 (#54)
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Helpers/GitBlobSha1Helper.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Tests/Core/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/DcsTranslateTool.Tests.csproj
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Converters/IDispatcherService.cs
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/Services/DispatcherService.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/packages.lock.json
Labels: WPF / XAML, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests

feat: TreeViewの色分けとアイコンをアップデートした
  DcsTranslateTool.Win/Converters/FileChangeTypeToBrushConverter.cs
  DcsTranslateTool.Win/Converters/FileEntryToIconKindConverter.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI

feat: TreeViewの色分けとアイコンをアップデートした (#55)
  DcsTranslateTool.Win/Converters/FileChangeTypeToBrushConverter.cs
  DcsTranslateTool.Win/Converters/FileEntryToIconKindConverter.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI

feat: add OpenDirectory method
  DcsTranslateTool.Win/Contracts/Services/ISystemService.cs
  DcsTranslateTool.Win/Services/SystemService.cs
Labels: Model / Business Logic

feat: DownloadViewModelにOpenDirectoryボタンを実装
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
Labels: ViewModel

feat: remove Reset Button from DownloadPage
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel

feat: add open directory method (#56)
  DcsTranslateTool.Win/Contracts/Services/ISystemService.cs
  DcsTranslateTool.Win/Services/SystemService.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic

feat: zipの圧縮レベルをfastestに変更した
  DcsTranslateTool.Core/Services/ZipService.cs
Labels: Model / Business Logic

feat: FileEntryViewModelを再帰的に取得するメソッドを追加
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
Labels: ViewModel

feat: DownloadPageのApply Buttonを実装した
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
Labels: WPF / XAML, ViewModel

feat: implement apply button (#57)
  DcsTranslateTool.Core/Services/ZipService.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic

feat: add snackbar for MainPage
  DcsTranslateTool.Tests/Win/ViewModels/MainViewModelTests.cs
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/ViewModels/MainViewModel.cs
  DcsTranslateTool.Win/Views/MainPage.xaml
  DcsTranslateTool.Win/packages.lock.json
Labels: WPF / XAML, View / UI, ViewModel, Build / MSBuild, Dependencies / NuGet, Tests

feat: add MaterialDesignInXaml
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/packages.lock.json
Labels: WPF / XAML, Build / MSBuild, Dependencies / NuGet, Tests

feat: snackbar を全Pageに拡張
  DcsTranslateTool.Tests/Win/ViewModels/MainViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/ShellViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Contracts/Services/ISnackbarService.cs
  DcsTranslateTool.Win/Services/SnackbarService.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/MainViewModel.cs
  DcsTranslateTool.Win/ViewModels/ShellViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/MainPage.xaml
  DcsTranslateTool.Win/Views/ShellWindow.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Tests

feat: Snackbarを拡張した
  DcsTranslateTool.Win/Contracts/Services/ISnackbarService.cs
  DcsTranslateTool.Win/Services/SnackbarService.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/MainViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: ViewModel, Model / Business Logic

feat: add snackbar (#58)
  DcsTranslateTool.Tests/Win/ViewModels/MainViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/ShellViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Contracts/Services/ISnackbarService.cs
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/Services/SnackbarService.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/MainViewModel.cs
  DcsTranslateTool.Win/ViewModels/ShellViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/MainPage.xaml
  DcsTranslateTool.Win/Views/ShellWindow.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
  DcsTranslateTool.Win/packages.lock.json
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests

feat: update filter algorithm
  DcsTranslateTool.Win/ViewModels/FilterViewModel.cs
Labels: ViewModel

feat: update filter algorithm (#59)
  DcsTranslateTool.Win/ViewModels/FilterViewModel.cs
Labels: ViewModel

feat: Update button status management
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel

feat: Update button status management (#60)
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel

fix: update button status management at Download Page
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
Labels: ViewModel

fix: update button status management at Download Page (#61)
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
Labels: ViewModel

feat: CreatePullRequestDialogに渡すアイテムを親側で作成
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
Labels: WPF / XAML, View / UI, ViewModel

feat: CreatePullRequestDialogに渡すアイテムを親側で作成 (#62)
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
Labels: WPF / XAML, View / UI, ViewModel

.github/labeler.yml:

# ------------------------------------------------------------
# .github/labeler.yml
# Purpose:
#   - PR の変更ファイルパスに応じて自動ラベル付与
#   - ラベルは事前にリポジトリ側で作成しておくこと（Settings > Labels）
# Notes:
#   - actions/labeler@v5 形式（changed-files / any-glob-to-any-file）
#   - ここにないラベル（prio/*, status/* など）は人手または他Automationで付与
#   - パターンは必要に応じて編集してください
# ------------------------------------------------------------


"WPF / XAML":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml"
    - any-glob-to-any-file: "**/*.xaml.cs"
    - any-glob-to-any-file: "**/App.xaml"
    - any-glob-to-any-file: "**/App.xaml.cs"
    - any-glob-to-any-file: "**/*Window.xaml"
    - any-glob-to-any-file: "**/*Page.xaml"
    - any-glob-to-any-file: "**/*UserControl.xaml"

"View / UI":
  - changed-files:
    - any-glob-to-any-file: "**/Views/**/*.xaml"
    - any-glob-to-any-file: "**/Views/**/*.xaml.cs"

"ViewModel":
  - changed-files:
    - any-glob-to-any-file: "**/ViewModels/**/*.cs"
    - any-glob-to-any-file: "**/*ViewModel.cs"

"Model / Business Logic":
  - changed-files:
    - any-glob-to-any-file: "**/Models/**/*.cs"
    - any-glob-to-any-file: "**/*Service.cs"
    - any-glob-to-any-file: "**/*Repository.cs"

"Build / MSBuild":
  - changed-files:
    - any-glob-to-any-file: "**/*.csproj"
    - any-glob-to-any-file: "**/*.props"
    - any-glob-to-any-file: "**/*.targets"
    - any-glob-to-any-file: "Directory.Build.*"

"Dependencies / NuGet":
  - changed-files:
    - any-glob-to-any-file: "**/Directory.Packages.props"
    - any-glob-to-any-file: "**/packages.lock.json"
    - any-glob-to-any-file: "nuget.config"

"Tests":
  - changed-files:
    - any-glob-to-any-file: "*Tests/**"

"CI / GitHub Actions":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"

"Docs":
  - changed-files:
    - any-glob-to-any-file: "README.md"
    - any-glob-to-any-file: "docs/**"
    - any-glob-to-any-file: "**/*.md"

"Localization":
  - changed-files:
    - any-glob-to-any-file: "**/*.resx"

"Assets / Images":
  - changed-files:
    - any-glob-to-any-file: "**/*.png"
    - any-glob-to-any-file: "**/*.jpg"
    - any-glob-to-any-file: "**/*.jpeg"
    - any-glob-to-any-file: "**/*.ico"
    - any-glob-to-any-file: "**/*.svg"

"Packaging / Installer":
  - changed-files:
    - any-glob-to-any-file: "**/*.msix*"
    - any-glob-to-any-file: "**/*.appinstaller"
    - any-glob-to-any-file: "**/*.wxs"
    - any-glob-to-any-file: "**/*.wixproj"
    - any-glob-to-any-file: "installer/**"

"Code Style / Analyzer":
  - changed-files:
    - any-glob-to-any-file: ".editorconfig"
    - any-glob-to-any-file: ".globalconfig"
    - any-glob-to-any-file: "stylecop.json"
    - any-glob-to-any-file: "**/*.ruleset"
