Repository 5kdn/DTT_PrismDryIoc, changes with the labels that .github/labeler.yml gives for each.
All labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests, CI / GitHub Actions, Docs, Localization, Assets / Images, Packaging / Installer, Code Style / Analyzer

feat: implement CreatePullRequestDialog
  DcsTranslateTool.Tests/Win/ViewModels/CreatePullRequestDialogViewModelTests.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
Labels: ViewModel, Tests

feat: update CreatePullRequestDialog design
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
Labels: WPF / XAML, View / UI

feat: implement create pull request dialog (#63)
  DcsTranslateTool.Tests/Win/ViewModels/CreatePullRequestDialogViewModelTests.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
Labels: WPF / XAML, View / UI, ViewModel, Tests

feat: デザインフレームワークをMaterialDesignInXamlに統一
  DcsTranslateTool.Tests/Win/ViewModels/ShellViewModelTests.cs
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml
  DcsTranslateTool.Win/Converters/FileChangeTypeToBrushConverter.cs
  DcsTranslateTool.Win/Converters/FileEntryToIconKindConverter.cs
  DcsTranslateTool.Win/Converters/MultiplyConverter.cs
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/Fonts/ZenKakuGothicNew-Bold.ttf
  DcsTranslateTool.Win/Fonts/ZenKakuGothicNew-Medium.ttf
  DcsTranslateTool.Win/Fonts/ZenKakuGothicNew-Regular.ttf
  DcsTranslateTool.Win/Services/ThemeSelectorService.cs
  DcsTranslateTool.Win/Styles/Brushes.xaml
  DcsTranslateTool.Win/Styles/Button.xaml
  DcsTranslateTool.Win/Styles/Colors.xaml
  DcsTranslateTool.Win/Styles/MaterialPalette.xaml
  DcsTranslateTool.Win/Styles/MetroWindow.xaml
  DcsTranslateTool.Win/Styles/PackIcon.xaml
  DcsTranslateTool.Win/Styles/TextBlock.xaml
  DcsTranslateTool.Win/Styles/Themes/HC.Dark.Blue.xaml
  DcsTranslateTool.Win/Styles/Themes/HC.Light.Blue.xaml
  DcsTranslateTool.Win/Styles/UserControl.xaml
  DcsTranslateTool.Win/Styles/Window.xaml
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/MainViewModel.cs
  DcsTranslateTool.Win/ViewModels/SettingsViewModel.cs
  DcsTranslateTool.Win/ViewModels/ShellViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/MainPage.xaml
  DcsTranslateTool.Win/Views/SettingsPage.xaml
  DcsTranslateTool.Win/Views/ShellWindow.xaml
  DcsTranslateTool.Win/Views/ShellWindow.xaml.cs
  DcsTranslateTool.Win/Views/UploadPage.xaml
  DcsTranslateTool.Win/packages.lock.json
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests

test: fix
  DcsTranslateTool.Tests/Win/ViewModels/SettingsViewModelTests.cs
Labels: ViewModel, Tests

feat: material design (#65)
  DcsTranslateTool.Tests/Win/ViewModels/SettingsViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/ShellViewModelTests.cs
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml
  DcsTranslateTool.Win/Converters/FileChangeTypeToBrushConverter.cs
  DcsTranslateTool.Win/Converters/FileEntryToIconKindConverter.cs
  DcsTranslateTool.Win/Converters/MultiplyConverter.cs
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/Fonts/ZenKakuGothicNew-Bold.ttf
  DcsTranslateTool.Win/Fonts/ZenKakuGothicNew-Medium.ttf
  DcsTranslateTool.Win/Fonts/ZenKakuGothicNew-Regular.ttf
  DcsTranslateTool.Win/Services/ThemeSelectorService.cs
  DcsTranslateTool.Win/Styles/Brushes.xaml
  DcsTranslateTool.Win/Styles/Button.xaml
  DcsTranslateTool.Win/Styles/Colors.xaml
  DcsTranslateTool.Win/Styles/MaterialPalette.xaml
  DcsTranslateTool.Win/Styles/MetroWindow.xaml
  DcsTranslateTool.Win/Styles/PackIcon.xaml
  DcsTranslateTool.Win/Styles/TextBlock.xaml
  DcsTranslateTool.Win/Styles/Themes/HC.Dark.Blue.xaml
  DcsTranslateTool.Win/Styles/Themes/HC.Light.Blue.xaml
  DcsTranslateTool.Win/Styles/UserControl.xaml
  DcsTranslateTool.Win/Styles/Window.xaml
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/MainViewModel.cs
  DcsTranslateTool.Win/ViewModels/SettingsViewModel.cs
  DcsTranslateTool.Win/ViewModels/ShellViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/MainPage.xaml
  DcsTranslateTool.Win/Views/SettingsPage.xaml
  DcsTranslateTool.Win/Views/ShellWindow.xaml
  DcsTranslateTool.Win/Views/ShellWindow.xaml.cs
  DcsTranslateTool.Win/Views/UploadPage.xaml
  DcsTranslateTool.Win/packages.lock.json
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests

style: ドキュメントコメントを修正
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Contracts/Services/IFileService.cs
  DcsTranslateTool.Core/Contracts/Services/IGitHubApiClient.cs
  DcsTranslateTool.Core/Contracts/Services/IRepositoryService.cs
  DcsTranslateTool.Core/Helpers/GitBlobSha1Helper.cs
  DcsTranslateTool.Core/Services/RepositoryService.cs
  DcsTranslateTool.Core/Services/ZipService.cs
Labels: Model / Business Logic

style: ドキュメントコメントを修正 (#66)
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Contracts/Services/IFileService.cs
  DcsTranslateTool.Core/Contracts/Services/IGitHubApiClient.cs
  DcsTranslateTool.Core/Contracts/Services/IRepositoryService.cs
  DcsTranslateTool.Core/Helpers/GitBlobSha1Helper.cs
  DcsTranslateTool.Core/Services/RepositoryService.cs
  DcsTranslateTool.Core/Services/ZipService.cs
Labels: Model / Business Logic

chore(githooks): pre_commitにdotnet testを追加
  .githooks/pre-commit
Labels: none

chore(githooks): pre_commitにdotnet testを追加 (#67)
  .githooks/pre-commit
Labels: none

style: add docsummary
  BuildTasks/EncryptWithAesGcm.cs
  DcsTranslateTool.Win/Helpers/Base64Url.cs
  DcsTranslateTool.Win/Helpers/IRegionNavigationServiceExtensions.cs
  DcsTranslateTool.Win/Securities/AesGcmV1Decrypter.cs
  DcsTranslateTool.Win/Services/DispatcherService.cs
  DcsTranslateTool.Win/Services/GitHubApiClient.cs
  DcsTranslateTool.Win/Services/SnackbarService.cs
Labels: Model / Business Logic

style: add docsummary (#68)
  BuildTasks/EncryptWithAesGcm.cs
  DcsTranslateTool.Win/Helpers/Base64Url.cs
  DcsTranslateTool.Win/Helpers/IRegionNavigationServiceExtensions.cs
  DcsTranslateTool.Win/Securities/AesGcmV1Decrypter.cs
  DcsTranslateTool.Win/Services/DispatcherService.cs
  DcsTranslateTool.Win/Services/GitHubApiClient.cs
  DcsTranslateTool.Win/Services/SnackbarService.cs
Labels: Model / Business Logic

refactor: ViewのテキストをResourcesに移動した
  DcsTranslateTool.Win/Properties/Resources.Designer.cs
  DcsTranslateTool.Win/Properties/Resources.resx
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, Localization

refactor: ViewのテキストをResourcesに移動した (#69)
  DcsTranslateTool.Win/Properties/Resources.Designer.cs
  DcsTranslateTool.Win/Properties/Resources.resx
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, Localization

chore(master): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: Docs

docs: update AGENTS.md
  AGENTS.md
Labels: Docs

docs: update AGENTS.md (#70)
  AGENTS.md
Labels: Docs

docs: add README.md
  README.md
Labels: Docs

docs: add README.md (#71)
  README.md
Labels: Docs

refactor: リファクタリングした
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/RepositoryService.cs
  DcsTranslateTool.Core/Services/ZipService.cs
  DcsTranslateTool.Tests/Core/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic, Tests

refactor: リファクタリングした (#72)
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/RepositoryService.cs
  DcsTranslateTool.Core/Services/ZipService.cs
  DcsTranslateTool.Tests/Core/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic, Tests

test: add test for services
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/ZipServiceTests.cs
  DcsTranslateTool.Tests/Win/Services/DecryptServiceTests.cs
Labels: Tests

ci: update release-please setting
  release-please-config.json
Labels: none

test: add tests for vm
  DcsTranslateTool.Tests/Win/ViewModels/FilterViewModelTests.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFilterViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FilterViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: ViewModel, Tests

test: add test (#73)
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/ZipServiceTests.cs
  DcsTranslateTool.Tests/Win/Services/DecryptServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/FilterViewModelTests.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFilterViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FilterViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  release-please-config.json
Labels: ViewModel, Tests

refactor: use Result
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/ZipService.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/ZipServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/App.xaml
  DcsTranslateTool.Win/Properties/Resources.Designer.cs
  DcsTranslateTool.Win/Properties/Resources.resx
  DcsTranslateTool.Win/Services/GitHubApiClient.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/ShellWindow.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Tests, Localization

refactor: use Result (#74)
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/ZipService.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/ZipServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/App.xaml
  DcsTranslateTool.Win/Properties/Resources.Designer.cs
  DcsTranslateTool.Win/Properties/Resources.resx
  DcsTranslateTool.Win/Services/GitHubApiClient.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/ShellWindow.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Tests, Localization

refactor: move PullRequestChangeKindItem to PullRequestChangeKindViewModel
  DcsTranslateTool.Tests/Win/ViewModels/CreatePullRequestDialogViewModelTests.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/ViewModels/PullRequestChangeKindViewModel.cs
Labels: ViewModel, Tests

refactor: move PullRequestChangeKindItem to PullRequestChangeKindViewModel (#75)
  DcsTranslateTool.Tests/Win/ViewModels/CreatePullRequestDialogViewModelTests.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/ViewModels/PullRequestChangeKindViewModel.cs
Labels: ViewModel, Tests

chore(master): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: Docs

.github/labeler.yml:

# ------------------------------------------------------------
# .github/labeler.yml
# Purpose:
#   - PR の変更ファイルパスに応じて自動ラベル付与
#   - ラベルは事前にリポジトリ側で作成しておくこと（Settings > Labels）
# Notes:
#   - actions/labeler@v5 形式（changed-files / any-glob-to-any-file）
#   - ここにないラベル（prio/*, status/* など）は人手または他Automationで付与
#   - パターンは必要に応じて編集してください
# ------------------------------------------------------------


"WPF / XAML":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml"
    - any-glob-to-any-file: "**/*.xaml.cs"
    - any-glob-to-any-file: "**/App.xaml"
    - any-glob-to-any-file: "**/App.xaml.cs"
    - any-glob-to-any-file: "**/*Window.xaml"
    - any-glob-to-any-file: "**/*Page.xaml"
    - any-glob-to-any-file: "**/*UserControl.xaml"

"View / UI":
  - changed-files:
    - any-glob-to-any-file: "**/Views/**/*.xaml"
    - any-glob-to-any-file: "**/Views/**/*.xaml.cs"

"ViewModel":
  - changed-files:
    - any-glob-to-any-file: "**/ViewModels/**/*.cs"
    - any-glob-to-any-file: "**/*ViewModel.cs"

"Model / Business Logic":
  - changed-files:
    - any-glob-to-any-file: "**/Models/**/*.cs"
    - any-glob-to-any-file: "**/*Service.cs"
    - any-glob-to-any-file: "**/*Repository.cs"

"Build / MSBuild":
  - changed-files:
    - any-glob-to-any-file: "**/*.csproj"
    - any-glob-to-any-file: "**/*.props"
    - any-glob-to-any-file: "**/*.targets"
    - any-glob-to-any-file: "Directory.Build.*"

"Dependencies / NuGet":
  - changed-files:
    - any-glob-to-any-file: "**/Directory.Packages.props"
    - any-glob-to-any-file: "**/packages.lock.json"
    - any-glob-to-any-file: "nuget.config"

"Tests":
  - changed-files:
    - any-glob-to-any-file: "*Tests/**"

"CI / GitHub Actions":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"

"Docs":
  - changed-files:
    - any-glob-to-any-file: "README.md"
    - any-glob-to-any-file: "docs/**"
    - any-glob-to-any-file: "**/*.md"

"Localization":
  - changed-files:
    - any-glob-to-any-file: "**/*.resx"

"Assets / Images":
  - changed-files:
    - any-glob-to-any-file: "**/*.png"
    - any-glob-to-any-file: "**/*.jpg"
    - any-glob-to-any-file: "**/*.jpeg"
    - any-glob-to-any-file: "**/*.ico"
    - any-glob-to-any-file: "**/*.svg"

"Packaging / Installer":
  - changed-files:
    - any-glob-to-any-file: "**/*.msix*"
    - any-glob-to-any-file: "**/*.appinstaller"
    - any-glob-to-any-file: "**/*.wxs"
    - any-glob-to-any-file: "**/*.wixproj"
    - any-glob-to-any-file: "installer/**"

"Code Style / Analyzer":
  - changed-files:
    - any-glob-to-any-file: ".editorconfig"
    - any-glob-to-any-file: ".globalconfig"
    - any-glob-to-any-file: "stylecop.json"
    - any-glob-to-any-file: "**/*.ruleset"
