Repository 5kdn/DTT_PrismDryIoc, changes with the labels that .github/labeler.yml gives for each.
All labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests, CI / GitHub Actions, Docs, Localization, Assets / Images, Packaging / Installer, Code Style / Analyzer

.github/labeler.yml:

# ------------------------------------------------------------
# .github/labeler.yml
# Purpose:
#   - PR の変更ファイルパスに応じて自動ラベル付与
#   - ラベルは事前にリポジトリ側で作成しておくこと（Settings > Labels）
# Notes:
#   - actions/labeler@v5 形式（changed-files / any-glob-to-any-file）
#   - ここにないラベル（prio/*, status/* など）は人手または他Automationで付与
#   - パターンは必要に応じて編集してください
# ------------------------------------------------------------


"WPF / XAML":
  - "**/*.xaml"
  - "**/*.xaml.cs"
  - "**/App.xaml"
  - "**/App.xaml.cs"
  - "**/*Window.xaml"
  - "**/*Page.xaml"
  - "**/*UserControl.xaml"

"View / UI":
  - "**/Views/**/*.xaml"
  - "**/Views/**/*.xaml.cs"

"ViewModel":
  - "**/ViewModels/**/*.cs"
  - "**/*ViewModel.cs"

"Model / Business Logic":
  - "**/Models/**/*.cs"
  - "**/*Service.cs"
  - "**/*Repository.cs"

"Build / MSBuild":
  - "**/*.csproj"
  - "**/*.props"
  - "**/*.targets"
  - "Directory.Build.*"

"Dependencies / NuGet":
  - "**/Directory.Packages.props"
  - "**/packages.lock.json"
  - "nuget.config"

"Tests":
  - "*Tests/**"

"CI / GitHub Actions":
  - ".github/workflows/**"

"Docs":
  - "README.md"
  - "docs/**"
  - "**/*.md"

"Localization":
  - "**/*.resx"

"Assets / Images":
  - "**/*.png"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.ico"
  - "**/*.svg"

"Packaging / Installer":
  - "**/*.msix*"
  - "**/*.appinstaller"
  - "**/*.wxs"
  - "**/*.wixproj"
  - "installer/**"

"Code Style / Analyzer":
  - ".editorconfig"
  - ".globalconfig"
  - "stylecop.json"
  - "**/*.ruleset"

chore: update nuget packages
  .release-please-manifest.json
  DcsTranslateTool.Share.Tests/DcsTranslateTool.Share.Tests.csproj
  DcsTranslateTool.Share/DcsTranslateTool.Share.csproj
  DcsTranslateTool.Win.Tests/packages.lock.json
  release-please-config.json
  release-please-manifest.json
Labels: Build / MSBuild, Dependencies / NuGet, Tests

test: RepoEntryViewModelのフィルター機能を検証
  DcsTranslateTool.Win.Tests/ViewModels/RepoEntryViewModelTests.cs
  DcsTranslateTool.Win/Enums/DownloadFilterType.cs
  DcsTranslateTool.Win/Enums/DownloadStatus.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Tests

fix: フィルターをチェックボックスに変更し動作を調整
  DcsTranslateTool.Win.Tests/ViewModels/RepoEntryViewModelTests.cs
  DcsTranslateTool.Win/Enums/DownloadFilterType.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Tests

refactor: エントリモデルを追加
  DcsTranslateTool.Core.Tests/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Core.Tests/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Contracts/Services/IGitHubApiClient.cs
  DcsTranslateTool.Core/Contracts/Services/IRepositoryService.cs
  DcsTranslateTool.Core/Models/Entry.cs
  DcsTranslateTool.Core/Models/RepoEntry.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/RepositoryService.cs
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/RepoEntryViewModelTests.cs
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IFileEntryViewModelFactory.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/TreeItemToEntryConverter.cs
  DcsTranslateTool.Win/Services/GitHubApiClient.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/Factories/FileEntryViewModelFactory.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
Labels: ViewModel, Model / Business Logic, Tests

feat: エントリにパスとSHAを追加し差分判定を実装
  DcsTranslateTool.Core.Tests/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Core.Tests/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Core.Tests/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Core/Enums/FileChangeType.cs
  DcsTranslateTool.Core/Helpers/EntryComparisonHelper.cs
  DcsTranslateTool.Core/Helpers/GitBlobSha1Helper.cs
  DcsTranslateTool.Core/Models/Entry.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/TreeItemToEntryConverter.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/Factories/FileEntryViewModelFactory.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Tests

fix: レビュー指摘の反映とテストの整理
  DcsTranslateTool.Core.Tests/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Core.Tests/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Core.Tests/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Core/Enums/FileChangeType.cs
  DcsTranslateTool.Core/Helpers/EntryComparisonHelper.cs
  DcsTranslateTool.Core/Helpers/GitBlobSha1Helper.cs
  DcsTranslateTool.Core/Models/Entry.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
  DcsTranslateTool.Win/ViewModels/Factories/FileEntryViewModelFactory.cs
Labels: ViewModel, Model / Business Logic, Tests

refactor: FileEntryとRepoEntryを統合 (#39)
  DcsTranslateTool.Core.Tests/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Core.Tests/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Core.Tests/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Core.Tests/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Contracts/Services/IGitHubApiClient.cs
  DcsTranslateTool.Core/Contracts/Services/IRepositoryService.cs
  DcsTranslateTool.Core/Enums/FileChangeType.cs
  DcsTranslateTool.Core/Helpers/EntryComparisonHelper.cs
  DcsTranslateTool.Core/Helpers/GitBlobSha1Helper.cs
  DcsTranslateTool.Core/Models/Entry.cs
  DcsTranslateTool.Core/Models/FileEntry.cs
  DcsTranslateTool.Core/Models/RepoEntry.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/RepositoryService.cs
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/RepoEntryViewModelTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IFileEntryViewModelFactory.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/TreeItemToEntryConverter.cs
  DcsTranslateTool.Win/Services/GitHubApiClient.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/Factories/FileEntryViewModelFactory.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
  DcsTranslateTool.Win/Views/CreatePullRequestDialog.xaml
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Tests

fix: FileEntryViewModelFactoryTestsが失敗する問題を解消
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
Labels: ViewModel, Tests

test: fix test
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
Labels: ViewModel, Tests

ci: fix project name
  .github/workflows/ci.yml
  .github/workflows/publish-to-GitHub-Release.yml
Labels: CI / GitHub Actions

fix: FileEntryViewModelFactoryTestsの失敗を修正 (#40)
  .github/workflows/ci.yml
  .github/workflows/publish-to-GitHub-Release.yml
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
Labels: ViewModel, Tests, CI / GitHub Actions

test: DownloadTabItemViewModelのフィルタ適用を検証
  DcsTranslateTool.Win.Tests/ViewModels/DownloadTabItemViewModelTests.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FilterOptionViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Tests
