Repository 5kdn/DTT_PrismDryIoc, changes with the labels that .github/labeler.yml gives for each.
All labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests, CI / GitHub Actions, Docs, Localization, Assets / Images, Packaging / Installer, Code Style / Analyzer

.github/labeler.yml:

# ------------------------------------------------------------
# .github/labeler.yml
# Purpose:
#   - PR の変更ファイルパスに応じて自動ラベル付与
#   - ラベルは事前にリポジトリ側で作成しておくこと（Settings > Labels）
# Notes:
#   - actions/labeler@v5 形式（changed-files / any-glob-to-any-file）
#   - ここにないラベル（prio/*, status/* など）は人手または他Automationで付与
#   - パターンは必要に応じて編集してください
# ------------------------------------------------------------


"WPF / XAML":
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml"
    - any-glob-to-any-file: "**/*.xaml.cs"
    - any-glob-to-any-file: "**/App.xaml"
    - any-glob-to-any-file: "**/App.xaml.cs"
    - any-glob-to-any-file: "**/*Window.xaml"
    - any-glob-to-any-file: "**/*Page.xaml"
    - any-glob-to-any-file: "**/*UserControl.xaml"

"View / UI":
  - changed-files:
    - any-glob-to-any-file: "**/Views/**/*.xaml"
    - any-glob-to-any-file: "**/Views/**/*.xaml.cs"

"ViewModel":
  - changed-files:
    - any-glob-to-any-file: "**/ViewModels/**/*.cs"
    - any-glob-to-any-file: "**/*ViewModel.cs"

"Model / Business Logic":
  - changed-files:
    - any-glob-to-any-file: "**/Models/**/*.cs"
    - any-glob-to-any-file: "**/*Service.cs"
    - any-glob-to-any-file: "**/*Repository.cs"

"Build / MSBuild":
  - changed-files:
    - any-glob-to-any-file: "**/*.csproj"
    - any-glob-to-any-file: "**/*.props"
    - any-glob-to-any-file: "**/*.targets"
    - any-glob-to-any-file: "Directory.Build.*"

"Dependencies / NuGet":
  - changed-files:
    - any-glob-to-any-file: "**/Directory.Packages.props"
    - any-glob-to-any-file: "**/packages.lock.json"
    - any-glob-to-any-file: "nuget.config"

"Tests":
  - changed-files:
    - any-glob-to-any-file: "*Tests/**"

"CI / GitHub Actions":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"

"Docs":
  - changed-files:
    - any-glob-to-any-file: "README.md"
    - any-glob-to-any-file: "docs/**"
    - any-glob-to-any-file: "**/*.md"

"Localization":
  - changed-files:
    - any-glob-to-any-file: "**/*.resx"

"Assets / Images":
  - changed-files:
    - any-glob-to-any-file: "**/*.png"
    - any-glob-to-any-file: "**/*.jpg"
    - any-glob-to-any-file: "**/*.jpeg"
    - any-glob-to-any-file: "**/*.ico"
    - any-glob-to-any-file: "**/*.svg"

"Packaging / Installer":
  - changed-files:
    - any-glob-to-any-file: "**/*.msix*"
    - any-glob-to-any-file: "**/*.appinstaller"
    - any-glob-to-any-file: "**/*.wxs"
    - any-glob-to-any-file: "**/*.wixproj"
    - any-glob-to-any-file: "installer/**"

"Code Style / Analyzer":
  - changed-files:
    - any-glob-to-any-file: ".editorconfig"
    - any-glob-to-any-file: ".globalconfig"
    - any-glob-to-any-file: "stylecop.json"
    - any-glob-to-any-file: "**/*.ruleset"

fix: フィルタ初期化位置の修正とスタイル調整
  DcsTranslateTool.Win.Tests/ViewModels/DownloadTabItemViewModelTests.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FilterOptionViewModel.cs
Labels: ViewModel, Tests

refactor: RepoEntryViewModelをFileEntryViewModelに統合
  DcsTranslateTool.Win.Tests/ViewModels/DownloadTabItemViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/RepoEntryViewModelTests.cs
  DcsTranslateTool.Win/Models/DownloadTabItem.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Model / Business Logic, Tests

test: GetChildrenRecursiveのテストを追加
  DcsTranslateTool.Core.Tests/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
Labels: Model / Business Logic, Tests

feat: リポジトリとローカルのエントリを統合
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
Labels: ViewModel

refactor: Entryの変更種別をViewModelに移動
  DcsTranslateTool.Core.Tests/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Core/Models/Entry.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
Labels: ViewModel, Model / Business Logic, Tests

refactor: FileEntryViewModelをEntryViewModelに改名
  DcsTranslateTool.Win.Tests/ViewModels/DownloadTabItemViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/EntryViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/Factories/EntryViewModelFactoryTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IEntryViewModelFactory.cs
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IFileEntryViewModelFactory.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/EntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/Factories/EntryViewModelFactory.cs
  DcsTranslateTool.Win/ViewModels/UploadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: WPF / XAML, ViewModel, Tests

refactor: Entry modelを FileEntry に変更 refactor: RepoEntry* を FileEntry* に統合
  DcsTranslateTool.Core.Tests/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Core.Tests/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Core.Tests/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Contracts/Services/IGitHubApiClient.cs
  DcsTranslateTool.Core/Contracts/Services/IRepositoryService.cs
  DcsTranslateTool.Core/Helpers/EntryComparisonHelper.cs
  DcsTranslateTool.Core/Helpers/FileEntryComparisonHelper.cs
  DcsTranslateTool.Core/Models/FileEntry.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/RepositoryService.cs
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/RepoEntryViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IFileEntryViewModelFactory.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/TreeItemToFileEntryConverter.cs
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/Enums/FileChangeType.cs
  DcsTranslateTool.Win/Models/DownloadTabItem.cs
  DcsTranslateTool.Win/Services/GitHubApiClient.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/Factories/FileEntryViewModelFactory.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests

ci: fix ci.yml
  .github/workflows/ci.yml
Labels: CI / GitHub Actions

ci: fix ci.yml
  .github/workflows/ci.yml
Labels: CI / GitHub Actions

ci: fix ci.yml
  .github/workflows/ci.yml
Labels: CI / GitHub Actions

ci: fix ci.yml
  .github/workflows/ci.yml
Labels: CI / GitHub Actions

ci: fix ci.yml
  .github/workflows/ci.yml
Labels: CI / GitHub Actions

ci: fix ci.yml
  .github/workflows/ci.yml
Labels: CI / GitHub Actions

ci: fix ci.yml
  .github/workflows/ci.yml
Labels: CI / GitHub Actions

ci: fix publish-to-GitHub-Release.yml
  .github/workflows/publish-to-GitHub-Release.yml
Labels: CI / GitHub Actions

refactor: Entry modelを FileEntry に変更 (#43)
  .github/workflows/ci.yml
  .github/workflows/publish-to-GitHub-Release.yml
  DcsTranslateTool.Core.Tests/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Core.Tests/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Core.Tests/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Core/Contracts/Services/IFileEntryService.cs
  DcsTranslateTool.Core/Contracts/Services/IGitHubApiClient.cs
  DcsTranslateTool.Core/Contracts/Services/IRepositoryService.cs
  DcsTranslateTool.Core/Helpers/EntryComparisonHelper.cs
  DcsTranslateTool.Core/Helpers/FileEntryComparisonHelper.cs
  DcsTranslateTool.Core/Models/FileEntry.cs
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Core/Services/RepositoryService.cs
  DcsTranslateTool.Win.Tests/ViewModels/Factories/FileEntryViewModelFactoryTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/RepoEntryViewModelTests.cs
  DcsTranslateTool.Win.Tests/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win.Tests/packages.lock.json
  DcsTranslateTool.Win/App.xaml.cs
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IFileEntryViewModelFactory.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/TreeItemToFileEntryConverter.cs
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/Enums/FileChangeType.cs
  DcsTranslateTool.Win/Models/DownloadTabItem.cs
  DcsTranslateTool.Win/Services/GitHubApiClient.cs
  DcsTranslateTool.Win/ViewModels/CreatePullRequestDialogViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/Factories/FileEntryViewModelFactory.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/RepoEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: WPF / XAML, ViewModel, Model / Business Logic, Build / MSBuild, Dependencies / NuGet, Tests, CI / GitHub Actions

refactor: change Test directory structure
  DcsTranslateTool.Core.Tests/DcsTranslateTool.Core.Tests.csproj
  DcsTranslateTool.Core.Tests/packages.lock.json
  DcsTranslateTool.Tests/Core/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Tests/Core/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/FileServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/ZipServiceTests.cs
  DcsTranslateTool.Tests/DcsTranslateTool.Tests.csproj
  DcsTranslateTool.Tests/Win/Providers/EnvironmentProviderTests.cs
  DcsTranslateTool.Tests/Win/Services/ApplicationInfoServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/CreatePullRequestDialogViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/MainViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/SettingsViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/ShellViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.sln
Labels: ViewModel, Build / MSBuild, Dependencies / NuGet, Tests

refactor: change Test directory structure (#44)
  DcsTranslateTool.Core.Tests/DcsTranslateTool.Core.Tests.csproj
  DcsTranslateTool.Core.Tests/packages.lock.json
  DcsTranslateTool.Tests/Core/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Tests/Core/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/FileServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/ZipServiceTests.cs
  DcsTranslateTool.Tests/DcsTranslateTool.Tests.csproj
  DcsTranslateTool.Tests/Win/Providers/EnvironmentProviderTests.cs
  DcsTranslateTool.Tests/Win/Services/ApplicationInfoServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/CreatePullRequestDialogViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/MainViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/SettingsViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/ShellViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Tests/packages.lock.json
  DcsTranslateTool.sln
Labels: ViewModel, Build / MSBuild, Dependencies / NuGet, Tests

build: change solution config to AnyCPU
  BuildTasks/BuildTasks.csproj
  DcsTranslateTool.Core/DcsTranslateTool.Core.csproj
  DcsTranslateTool.Core/DcsTranslateTool.Core.sln
  DcsTranslateTool.Tests/DcsTranslateTool.Tests.csproj
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.sln
Labels: Build / MSBuild, Tests

build: update lock files
  BuildTasks/packages.lock.json
  DcsTranslateTool.Core/packages.lock.json
  DcsTranslateTool.Win/packages.lock.json
Labels: Dependencies / NuGet

ci: refactoring publish-to-GitHub-Release.yml
  .github/workflows/publish-to-GitHub-Release.yml
Labels: CI / GitHub Actions

refactor: change solution config (#45)
  .github/workflows/publish-to-GitHub-Release.yml
  BuildTasks/BuildTasks.csproj
  BuildTasks/packages.lock.json
  DcsTranslateTool.Core/DcsTranslateTool.Core.csproj
  DcsTranslateTool.Core/DcsTranslateTool.Core.sln
  DcsTranslateTool.Core/packages.lock.json
  DcsTranslateTool.Tests/DcsTranslateTool.Tests.csproj
  DcsTranslateTool.Win/DcsTranslateTool.Win.csproj
  DcsTranslateTool.Win/packages.lock.json
  DcsTranslateTool.sln
Labels: Build / MSBuild, Dependencies / NuGet, Tests, CI / GitHub Actions

refactor: fix namespace
  DcsTranslateTool.Tests/Core/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Tests/Core/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/FileServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/ZipServiceTests.cs
  DcsTranslateTool.Tests/Win/Providers/EnvironmentProviderTests.cs
  DcsTranslateTool.Tests/Win/Services/ApplicationInfoServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/CreatePullRequestDialogViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/MainViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/SettingsViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/ShellViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: ViewModel, Tests

refactor: fix namespace (#46)
  DcsTranslateTool.Tests/Core/Helpers/EntryComparisonHelperTests.cs
  DcsTranslateTool.Tests/Core/Helpers/GitBlobSha1HelperTests.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/FileServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/RepositoryServiceTests.cs
  DcsTranslateTool.Tests/Core/Services/ZipServiceTests.cs
  DcsTranslateTool.Tests/Win/Providers/EnvironmentProviderTests.cs
  DcsTranslateTool.Tests/Win/Services/ApplicationInfoServiceTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/CreatePullRequestDialogViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/MainViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/SettingsViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/ShellViewModelTests.cs
  DcsTranslateTool.Tests/Win/ViewModels/UploadViewModelTests.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: ViewModel, Tests

fix: FileEntryService path separator
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: ViewModel, Model / Business Logic

test: add tests for FileEntryService
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
Labels: Tests

chore: change branch type
  .githooks/pre-commit
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Labels: Docs

chore: change branch type (#48)
  .githooks/pre-commit
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Labels: Docs

fix: file entry service path (#47)
  DcsTranslateTool.Core/Services/FileEntryService.cs
  DcsTranslateTool.Tests/Core/Services/FileEntryServiceTests.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: ViewModel, Model / Business Logic, Tests

refactor: FileEntryViewModelのリファクタリング
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
Labels: ViewModel, Tests

refactor: fix typo
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
Labels: ViewModel

refactor: UploadPageとDownloadPageの調整
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadTabItemViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel

fix: Disabled the ability to select the Indeterminate option in TreeItem
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI

fix: LoadLocalTreeCommand not found error
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI

refactor: CheckStateをbool?に変更
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IFileEntryViewModelFactory.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/CheckStateToNullableBoolConverter.cs
  DcsTranslateTool.Win/Enums/CheckState.cs
  DcsTranslateTool.Win/Extensions/CheckStateExtensions.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Tests

refactor: remove IFileEntryViewModelFactory
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IFileEntryViewModelFactory.cs
Labels: ViewModel

fix: file entry service path (#49)
  DcsTranslateTool.Tests/Win/ViewModels/FileEntryViewModelTests.cs
  DcsTranslateTool.Win/Contracts/ViewModels/Factories/IFileEntryViewModelFactory.cs
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/Converters/CheckStateToNullableBoolConverter.cs
  DcsTranslateTool.Win/Enums/CheckState.cs
  DcsTranslateTool.Win/Extensions/CheckStateExtensions.cs
  DcsTranslateTool.Win/ViewModels/DownloadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadTabItemViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel, Tests

feat: FilterViewModel の追加 feat: UploadPage にフィルタ機能を追加 feat: DownloadPage にフィルタ機能を追加
  .gitattributes
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/FilterViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel

feat: フィルタ機能の追加 (#50)
  .gitattributes
  DcsTranslateTool.Win/Contracts/ViewModels/IFileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/DownloadViewModel.cs
  DcsTranslateTool.Win/ViewModels/FileEntryViewModel.cs
  DcsTranslateTool.Win/ViewModels/FilterViewModel.cs
  DcsTranslateTool.Win/ViewModels/UploadViewModel.cs
  DcsTranslateTool.Win/Views/DownloadPage.xaml
  DcsTranslateTool.Win/Views/UploadPage.xaml
Labels: WPF / XAML, View / UI, ViewModel

feat: add FileChangeTypeToBrush
  DcsTranslateTool.Win/Converters/FileChangeTypeToBrushConverter.cs
Labels: none
